* {
  margin: 0;
  padding: 0;
}

/* Variáveis */
:root {
  --orange: #ff7b33;
  --navbar: #d1d1d1;
  --white: #f2f2f2;
}

body,
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

hr {
  margin: 0 auto 2rem auto;
  width: 100rem;
  border: 2px solid var(--navbar);
}

/* Navbar */
.navbar {
  list-style-type: none;
  height: 4em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d1d1d1;
}

.navbar-item {
  float: left;
}

.meio {
  margin-left: 38em;
}

li a {
  width: 100px;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  color: rgb(15, 15, 15);
  text-align: center;
  padding: 21px 18px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.navbar .login-container {
  float: right;
  margin: 0 4em;
}

.navbar .login-container button {
  border-radius: 0.2em;
  float: right;
  width: 6em;
  font-size: 1.2em;
  padding: 0.6em 0.7rem;
  margin-top: 0.5em;
  margin-right: 1em;
  border: none;
  background-color: #b2b2b2cb;
  transition: ease-in-out 0.2s;
}

.login-container .login:hover,
.login-container .registrar:hover {
  background-color: #7e7e7efd;
  color: var(--white);
}

.active {
  color: var(--white);
  background-color: var(--orange);
  transition: ease-in-out 0.2s;
}

li a:hover:not(:hover) ::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

li a:hover:not(.active) {

}

/* Main */

.main {
  display: flex;
  flex-flow: row;
  justify-content:space-around;
}

.camp {
  display: flex;
  flex-flow: row;
  justify-content: center;
}


.main-item {
  flex: 1;
  background-color: var(--white);
  margin: 2rem 4em;
  flex-grow: 2;
  border-radius: .5em;
}

.main-item h3 {
  padding: 0.7em;
  margin: 0.7em;
  font-size: 1.1em;
  text-align: justify;
  background-color: rgba(217, 217, 217, 0.791);
  border-radius: 0.5em;
}

.main-item p {
  font-size: 1.07em;
  display: block;
  text-align: justify;
  padding: 0.7em;
  margin: 0 15px;
}


.camp-item {
  margin: 0 50px;
  border-radius: 10px;
  width: 30em;
  padding: 2rem;
  background-color: var(--white);
}