* {
  margin: 0;
  padding: 0;
}

/* Variáveis */
:root {
  --laranja: #ff7b33;
  --navbar: #d1d1d1;
  --white: #f1f1f1;
  --preto: #181818;
  --verde: #7ed956;
}

body,
html {
  box-sizing: border-box;
}

.saiba_mais_btn {
  width: 250px;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 2px solid var(--verde);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.saiba_mais_btn:hover {
  background-color: var(--verde);
  box-shadow: 0px 15px 20px rgba(126, 217, 86, 70%);
  color: #fff;
  transform: translateY(-7px);
}

.btn-login {
  color: #fff;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--verde);
  color: var(--verde);
  transition: all 0.3s;
}

.btn-login:hover {
  background: #7ed956;
  color: #fff;
}
